.paper > pre {
    width: 450px;
    overflow: auto;
}

.two > img {
    width: 250px;
}

td > img {
    width: 250px;
}

@media (max-width:760px) {
    td > img {
        display: none;
    }
    .tdimg {
        display: none;
        width: 0%;
        padding: 0;
    }
    .tdcontent {
        width: 100%;
    }
}

p {
    line-height: 1.5; /* or try 1.8, 2.2, etc. */
    margin-bottom: 1.2em; /* increase for more space */
  }

td {
    line-height: 1.5;  /* or 2, for more spacing */
  }